body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: none;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #555;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
}

.actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.actions a,
.actions button {
    background-color: #072b09;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions button {
    border: none;
    cursor: pointer;
}

.actions a:hover,
.actions button:hover {
    background-color: #388e3c;
}

.actions i {
    margin-right: 5px;
}

button:focus,
a:focus {
    outline: 2px solid #ff9800;
    outline-offset: 3px;
}
